<!--
Trang Luu
20 Apil 2019
Dating Website/ HTML Home page
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dating Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="styles/style.css">

</head>
<body>
<h3>My Dating Website</h3>
<form method="post" action="summary">
    <div class="container-fluid">
        <div class="row content">

            <h2>Interests</h2>
            <hr>

                <!--in-door-->
            <div class="form-group">
                <p><strong> In-door Interests</strong></p>

                <div class="col-sm-3">

                    <div class="checkbox">
                        <label><input type="checkbox" value="TV" name="interest[]">TV</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="Puzzles" name="interest[]">Puzzles</label>
                    </div>
                </div>


                <div class="col-sm-3">
                    <div class="checkbox">
                        <label><input type="checkbox" value="Movies" name="interest[]">Movies</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="Reading" name="interest[]">Reading</label>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="checkbox">
                        <label><input type="checkbox" value="Cooking" name="interest[]">Cooking</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="Playing Cards" name="interest[]">Playing Cards</label>
                    </div>
                </div>

                <div class="col-sm-3 sidenav">
                    <div class="checkbox">
                        <label><input type="checkbox" value="Board games" name="interest[]">Board games</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="Video games" name="interest[]">Video games</label>
                    </div>
                </div>
            </div>



            <!--out-door-->
            <div class="form-group">
                <p><strong> Out-door Interests</strong></p>

                <div class="col-sm-3">
                    <div class="checkbox">
                        <label><input type="checkbox" value="Hiking" name="interest[]">Hiking</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="Walking" name="interest[]">Walking</label>
                    </div>
                </div>


                <div class="col-sm-3">
                    <div class="checkbox">
                        <label><input type="checkbox" value="Biking" name="interest[]">Biking</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="Climbing" name="interest[]">Climbing</label>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="checkbox">
                        <label><input type="checkbox" name="interest[]" value="Swimming">Swimming</label>
                    </div>

                </div>

                <div class="col-sm-3 sidenav">
                    <div class="checkbox">
                        <label><input type="checkbox" name="interest[]" value="Collecting">Collecting</label>
                    </div>

                </div>

            </div>

            <!--button-->
            <div class="bottom">
                <br><br><br><button type="submit" class="btn btn-primary" align="right">Next ></button>
            </div>

        </div>
    </div>
</form>
</body>
</html>
