<!--
Trang Luu
20 Apil 2019
Dating Website/ HTML Home page
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dating Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="styles/style.css">

</head>
<body>
<h3>My Dating Website</h3>
<form method="post" action="interest">
<div class="container-fluid">
    <div class="row content">

        <h2>Profile</h2>
        <hr>

        <div class="col-sm-6">

            <!--email-->
            <div class="form-group">
                <label><strong>Email</strong></label>
                <input type="text" class="form-control"  name="email" value="{{@email}}" placeholder="my_email@gmail.com">
                <check if="{{ @errors['email'] }}">
                    <span class="err">{{ @errors['email'] }}</span>
                </check>
            </div>

            <!--state-->
            <div class="form-group">
                <label for="state">State</label>
                <select class="form-control" id="state" name="state">
                    <repeat group="{{@state}}" value="{{@current}}">
                        <option value="{{@current}}">{{@current}}</option>
                    </repeat>

                </select>
            </div>

            <!--seeking-->
            <div class="form-group">
                <label><strong>Seeking</strong></label>
                <div class="radio">
                    <label><input type="radio" name="seeking" value="Male" checked>Male</label>

                    <label><input type="radio" name="seeking" value="Female">Female</label>
                </div>
            </div>


        </div>

        <!--bio-->
        <div class="col-sm-6 sidenav">
            <div class="form-group">
                <label for="biography"><strong>Biography</strong></label>
                <textarea class="form-control" id="biography" rows="5" name="bio"></textarea>
            </div>

            <!--button-->
            <div class="bottom">
                <br><br><button type="submit" class="btn btn-primary" align="right">Next ></button>
            </div>
        </div>

    </div>
</div>
</form>
</body>
</html>
